.navbar-brand img {
    height: 50px;
}

.bg-light {
    background-color: darkcyan!important;
}

.navbar-light .navbar-nav .nav-link {
    color:#ffffff;
}

footer {
    padding: 40px;
    margin-top: 40px;
    background-color: slategray;
    
}